* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap");


h1 {
  color: #d0b1ed;
  font-size:50px;
}

nav{
  margin-bottom:60px;
  margin-top:40px;
}

footer{
  margin-top:40px;
}

.main-nav-button {
  height: 30px;
  font-size: 1rem;
  padding: 5px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #c296ec;
  color: black;
  font-weight: semibild;
  margin-bottom: 20px;
}

.main-nav-button-now {
  height: 30px;
  font-size: 1rem;
  padding: 5px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #7f36c4;
  color: black;
  font-weight: semibild;
  margin-bottom: 20px;
}

body {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 90px;
  padding: 20px;
  background-color: black;
  color: white;
}

.loremipsum {
  margin-bottom: 50px;
  font-size: 0.8rem;
  line-height: 1.3rem;
  border-top: 1px solid #5058e9;
  border-bottom: 1px solid #5058e9;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*CONTACT*/

h3{
  margin:0px;
}

.contact-bubble {
  height: 200px;
  width: 200px;
  border: 3px solid #d0b1ed;
  border-radius: 50%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px;
  
}

.cruise-bubble {
  height: 400px;
  width: 400px;
  border: 3px solid #d0b1ed;
  border-radius: 50%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px;
  margin-bottom:80px;
  
}

.contact-container{
  display:flex;
  gap:30px;
  margin-bottom: 50px;
}

/*TAG PROJECT*/

.tag-pool{
  display:flex;
  gap:40px;

}

.tag-bubble {
  width:100%;
  padding: 20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
  align-content: flex-start;
  gap:7px;
}

.my-tags {
  height: 100%;
}

.all-tags {
  height: 85%;
}

.tag-bubble-frame-my-tags {
  width:400px;
  height: 200px;
  background-color:burlywood;
  border-radius: 30px;
  margin-bottom: 50px;
}

.tag-bubble-frame-all-tags {
  width:400px;
  height: 200px;
  background-color:cornsilk;
  border-radius: 30px;
  margin-bottom: 50px;
}

.see-more-tags{
  color:white;
  font-size:40px;
  width:40px;
  padding-bottom:30px;
}


.sound-tag{
  background-color:blueviolet;
  padding:10px;
  height:40px;
  display:inline;
  border-radius:8px;
  margin:0px;
}

/*SOCIALS*/

.social-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.social {
  height: 280px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #d0b1ed;
  border-radius: 60px;
  padding: 40px;
  gap: 40px;
}

.social-pic {
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.social-text {

  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-link-cnt {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-end;

}

.social-info {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

h4 {
  background-color: #d0b1ed;
  font-size: 1.8rem;
  color: black;
  margin: 0px;
}

.unicode{
  color:blueviolet
  font-size: 5rem;
  margin:0px;
}

.social-link{
  margin:0px;
  font-size:1 rem;
}


/*SOUND FILES*/

.sound-library-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.sound-container {
  height: 280px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #d0b1ed;
  border-radius: 60px;
  padding: 40px;
  gap: 40px;
}

/* sound info: alles, was rechts neben dem Bild ist */

.sound-pic {
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.sound-info {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* sound-text: kompletter text */

.sound-text {

  color: black;
  display: flex;
  font-size:14px;
  flex-direction: column;
  justify-content: flex-start;
}

.sound-file {
  border:3px solid #5c2192;
  color: #5c2192;
  padding-left:20px;
  border-radius:50px;
  height:40px;
  display:flex;
  justify-content:center;
  flex-direction:column;

}

.sound-name {
  background-color: #d0b1ed;
  font-size: 1.6rem;
  color: black;
  margin: 0px;
}


.individual-tag-bubble {
  height: 200px;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
  align-content: flex-start;
  gap:7px;
}

.tag-small{
  background-color:blueviolet;
  padding:10px;
  font-size:10px;
  height:30px;
  display:inline;
  border-radius:8px;
  margin:0px;
}
