/*SOCIALS*/

.social {
  height: 280px;
  width: 600px;
  max-width: 100%;
  background-color: black;
  border: 3px solid var(--light);
  color: var(--light);
  border-radius: 60px;
  padding: 40px;
  gap: 40px;
  display: flex;
}

.social__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.social__pic {
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.social__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social__text {
  font-size: 1.2rem;
}

.social__link__cnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.social__info {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4 {
  font-size: 1.8rem;
  margin: 0px;
}

.unicode {
  background-color: var(--light);
  color: black;
  font-size: 2rem;
  padding: 7px 11px 10px 11px;
  border-radius: 50%;
  margin: 0px;
}

.social__link {
  margin: 0px;
  font-size: 1.2rem;
  color: white;
}
